[Unit]
Description=experms

[Service]
Type=simple
ExecStart=/home/fabio/Linux/python/experms/gitlab/experms/src/experms.py

[Install]
WantedBy=multi-user.target
